
.kath-logo-img {
	max-width: 32px;
}

.kath-ke-label {
	color: #ffffff;
}

.kath-language-switch i {
	font-size: 25px;
}

#languageMenuLink {
	display: none;
}

#languageMenuLink a::after {
	content: none;
}

#languageMenuLink ul {
	left: -125px;
}

#switchLanguageMobile {
	position: fixed;
	top: 22px;
	right: 65px;
	z-index: 9998;
}

#languageMenuMobileLink {
	background: none;
	border: none;
	padding: 0;
	box-shadow: none;
}

#languageMenuMobileLink::after {
	content: none;
}

.dropdown-item {
	color: #2b8ab7;
}

.dropdown-item:active {
	color: #ffffff;
	background-color: #47b2e5;
}

.dropdown-item:hover {
	color: #1d5e7d;
	background: none;
}

@media (max-width: 340px) {
  .mobile-nav-toggle {
    top: 20px;
  }
}

.kath-img-shadowed {
	max-width: 360px;
	filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

#hero ul {
	padding-left: 0px;
	font-family: "Jost", sans-serif;
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
	line-height: 2;
	text-align: left;
}

#hero ul li {
	list-style: none;
}

#hero .btn-get-started {
	background: #2b8ab7;
}

#hero .btn-get-started:hover {
	background: #225d8c;
}

.kath-learn-more {
	text-align: center;
}

.about .content .btn-learn-more {
	font-family: "Jost", sans-serif;
	font-size: 16px;
}

.kath-img-about-me {
	max-width: 350px;
}

.kath-cert-img {
	max-width: 150px;
	position: relative;
}

.kath-img-my-programs {
	max-width: 450px;
}

.portfolio .portfolio-item .kath-cert-label {
	left: 0;
	right: 0;
}

.portfolio .portfolio-item .kath-cert-label a {
	font-size: 24px;
	color: #ffffff;
}

#services ul {
	padding: 0;
	font-size: 14px;
}

#services .icon-box div {
	font-size: 14px;
}

#services ul li {
	list-style: none;
	margin-top: 10px;
}

.why-us .accordion-list ul li {
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media (min-width: 576px) { 
	.kath-faq-img {
		max-height: 500px;
	}
}

.why-us .accordion-list {
    padding: 0;
}

.why-us .accordion-list a { 
	font-size: 20px;
	font-family: "Jost", sans-serif;
}

.why-us .accordion-list ul {
	max-width: 800px;
	margin: 0 auto;
}

.team .member {
	width: 100%;
}

.team .member .pic {
	min-width: 40px;
	max-width: 40px;
}

.team .member .member-info {
	cursor: pointer;
}

.team .member .member-info .icon-show {
  display: none;
}

.team .member .member-info.collapsed .icon-show {
  display: inline-block;
}

.team .member .member-info.collapsed .icon-close {
  display: none;
}

.php-email-form #countTA {
	margin-bottom: 10px;
}

.php-email-form #send:focus {
	outline: none;
}

.php-email-form #send.disabled {
	background: #a0cbdf;
	cursor: default;
}

.php-email-form #send.disabled:hover {
	background: #a0cbdf;
}

.icon-show,
.icon-close {
	font-size: 30px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #1c5571;
}

.back-to-top i {
	box-shadow: 0 0 5px #ffffff;
}

.kath-bottom-logo {
	font-size: 20px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 600;
}

#footer .copyright {
    float: none;
}

#windowModal {
	z-index: 10000;
}

#modalOKbutton {
	background: #2b8ab7;
	border-radius: 20px;
}

#modalOKbutton:hover {
	background: #225d8c;
}
